aside {
  width: 260px;
  flex: 0 0 auto;
  height: 100%;
  transition: left 0.3s ease-in-out;
}
header {
  left: 0;
  width: 100%;
  z-index: 99;
  top: 0;
  position: fixed;
}
.sub-header-wrapper {
  left: 0;
  width: 100%;
  z-index: 99;
  top: 82px;
  position: fixed;
  height: 80px;
  border-radius: 0px 0px 3px 3px;
  border: 1px solid #ccc;
  background: #fff;
  .inner-sub-header {
    padding: 0px 40px;
    gap: 60px;
    .active {
      border: 0px solid #007aff;
      background: #d7eaff;
      box-shadow: 0px 0px 2px 0px #d1d1d1;
      color: #012954;
    }
    button {
      border-radius: 20px;
      padding: 16px 36px;
      border: none;
      background: none;
      color: #878787;
      font-size: 14px;
      font-weight: 400;
    }
  }
}
.sidebar-wrapper {
  margin: 30px 20px;
  height: 94%;
  min-height: 850px;
  display: grid;
  position: relative;
  grid-template-rows: 6% 12% 1fr 22%;

  .acviss-logo {
    p {
      color: #2166fd;
      font-size: 18px;
      font-weight: 500;
      margin-top: 2px;
    }
    .acviss {
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 2.4px;
    }
  }
  .user-details-wrapper {
    margin-top: 34px;
    border-radius: 20px;
    border: 0px solid #2166fd;
    background: #eaf3ff;
    padding: 8px 10px;
    width: 94%;
    gap: 20px;
    .user-details {
      gap: 2px;
      p {
        color: #2e2e2e;
        font-size: 14px;
        font-weight: 400;
      }
      .role {
        font-size: 12px;
        color: #454545;
        font-weight: 600;
      }
      .email {
        color: #878787;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
  .navigation-menu-wrapper {
    margin-top: 56px;
    gap: 22px;
    a {
      width: 94%;
    }
    .active {
      p {
        color: #012954 !important;
      }
    }
    .menu {
      width: 100%;
      gap: 30px;
      list-style-type: none;
      padding: 7px 11px;
      &:hover {
        color: #012954;
      }
      img {
        height: 20px;
        width: 20px;
      }
      p {
        color: #9c9c9c;
        font-size: 13px;
        font-weight: 400;
      }
    }
  }
  .flash-newfeatures {
    border-radius: 6px;
    position: relative;
    border: 0px solid #d9d9d9;
    justify-content: space-between;
    background: #eef6ff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0px 18px;
    margin-bottom: 30px;
    padding: 20px 24px;
    gap: 10px;
    .title {
      color: #2e2e2e;
      font-size: 14px;
      font-weight: 600;
    }
    p {
      color: #2e2e2e;
      font-size: 10px;
      font-weight: 400;
    }
    button {
      border-radius: 6px;
      border: 0px solid #d9d9d9;
      background: #2b66f6;
      padding: 10px 20px;
      color: #fff;
      font-size: 14px;
      font-weight: 600;
    }
  }
}
.header-wrapper {
  background: #fff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  height: 82px;
  .inner-header {
    flex-grow: 1;
    padding: 0px 60px;
  }
  .page-info {
    p {
      color: #878787;
      font-size: 14px;
      font-weight: 400;
    }
    .page {
      color: #2e2e2e;
      font-size: 24px;
      font-weight: 600;
    }
  }
  .searchbar-nofi-wrapper {
    gap: 24px;
    .searchbar-wrapper {
      position: relative;
      padding: 0 15px;
      width: 238px;
      height: 40px;
      border-radius: 6px;
      border: 1px solid #012954;
      background: #fff;
      input {
        border: none;
        outline: none;
        flex-grow: 1;
        height: 36px;
        &:focus {
          height: 36px;
        }
      }
      gap: 5px;
      .searchbar-img {
        img {
          margin-top: 6px;
          width: 24px;
          height: 24px;
        }
      }
      .searchbar-down-img {
        img {
          width: 15px;
          height: 12px;
        }
      }
      ::placeholder {
        color: var(--text-2, #989898);
        font-size: 12px;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        padding-left: 5px;
      }
    }
  }
}
